
* { 
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;

  }

body{
	width: 100%;
	}


 /*-- grid index--*/
.contenedorPrincipal{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"nav"
	"main"
	"pie";
}


  .botonera{
	grid-area: nav;
}
.banner{
	grid-area: ban;
}
.mainArea{
	grid-area: main;
}
.footerArea{
	grid-area: pie;
}


/*-- Comienza menu --*/
#menu{
background-color: #352728;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;
align-items: center;
justify-content: center;

	}

	#menu a img {
	width: 20%;
		}

	 #menu ul{
	 	display: flex;
	 	flex-direction: column;
		 }
 
		 #menu ul li{
		 	font-family: 'Roboto', sans-serif;
		 	list-style: none;
	 		text-align: center;/*-- modificable--*/


		 	}

			#menu ul li a {
			text-decoration: none;
			color: #fff;
			padding: 10px;
				}

			#menu ul li a:hover{
				color: #d3b895;
				text-decoration: underline;		
				}

/*-- header --*/
header img {
	max-width: 90%;
	margin: 20px 5%;
	border-bottom: 2px solid #3b2637;
	}
/*-- main contenido --*/

.imgPromoIndex{
	width: 100%;

}
.destacados{
	width: 300px;
	margin: 11px;
}
.contenedor  {
	margin:50px ;
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	padding: 10px;
}

.contenedor .destacados{
padding: 10px;
}
.nosotros{
	padding: 20px;
	margin: 20 px;
}
.seccion1{
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.subContenedor{
	width: 100%;
	display: flex;
	justify-content: space-between;
	


}
.videoDemostrativo{
	padding: 10px;
	display: flex;
	flex-flow: row wrap;
}
.centrado{
	text-align: center;
}
.textoComun {
	font-family: 'Roboto', sans-serif;
	color: #352728;
	font-size: 1 rem;
	margin: 10px 0 px;
	text-align: left;
	}

.textoDestacado{
	font-family: 'Roboto', sans-serif;
	color: #352728;
	font-weight: bold;
	font-size: 1.3 rem;
	margin: 10px 0px;
	display: inline-block;
	width: 40%;
	}

.tituloPrincipal{
font-size: 3rem;
margin-bottom: 2rem;

}

.titulos{
	font-family: 'DM Serif Display', serif;
	color: #4d7a81;
	font-size: 2 rem;
	margin-right: 10px 0px;
	text-align: center;
	}
.subtitulos{
	font-family: 'DM Serif Display', serif;
	color: #4d7a81;
	font-size: 1.5 rem;
	margin-right: 10px 0px;
	}
.subtitulosIndex{
	font-family: 'DM Serif Display', serif;
	color: #fff;
	font-size: 1.5 rem;
	margin-right: 10px 0px;
}

/*--============== Formato imagenes ==============--*/
.imagenes {
	width: 25%;
	margin: 20px;
	}
.imagenesChicas{
width: 15%;
margin: 20px;
	}
.imagenesMedianas{
	width: 50%;
	margin: 5px;
	}
.mapa {
width: 15%;
margin: 20px;
	}
/*-- footer --*/

footer{
	background-color: #d3b895;
	height: 100px;
	width: 100%;
	}
footer section{
	margin: 30px  40%;
	}
footer .redesSociales {
	margin: 10px ;
	height: 40px;

	}
/*-- Media queries --*/

@media (min-width: 768px){

	
#menu{
		background-color: #352728;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		}
		#menu ul{
			display: flex;
			flex-direction: row;
		}

	 .contenedorPrincipal{
		width: 100%;
		display: grid;
		grid-template-columns: repeat(4, auto);
		grid-template-rows: auto;
		grid-template-areas: 
		"nav nav"
		"ban ban"
		"main main "
		"pie pie";
		}
		.contenedor  {
			margin:50px ;
			display: flex;
			justify-content: space-around;
			flex-flow: row wrap;
			padding: 10px;
			}
		.subContenedor{
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			}
		.videoDemostrativo{
			padding: 10px;
			display: flex;
			flex-flow: row wrap;
		}


}
@media (min-width: 1024px){
	 .contenedorPrincipal{
		width: 100%;
		display: grid;
		grid-template-columns: repeat(4, auto);;
		grid-template-rows: auto;
		grid-template-areas: 
		"nav nav nav"
		"ban ban ban"
		"main main main"
		"pie pie pie";
		}
}