<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contacto</title>
	<link rel="stylesheet" type="text/css" href="../css/views.css">
	<link rel="shortcut icon" href="../img/favicon.png">
</head>
<body>
	<nav id="menu">
		<a href="../index.html">
			<img src="../img/logo.png" alt="Logo de coffee house cafeteria">
		</a>
		<ul>
			<li><a href="../index.html">Home</a></li>
			<li><a href="nosotros.html">Nosotros</a></li>
			<li><a href="promociones.html">Promociones</a></li>
			<li><a href="sucursales.html">Sucursales</a></li>
			<li><a href="contacto.html">Contacto</a></li>
		</ul>
	</nav>
	<main>
		<fieldset>
			<legend>Contactanos</legend>
			<label class="textoComun" for="name">Nombre</label>
			<input type="text" name="name">
			<br>
			<label class="textoComun" for="email">Email</label>
			<input type="email" name="email">
			<label for="mensaje">Mensaje</label>
			<br>
			<textarea class="textoComun" name="mensaje" id="mensaje" cols="30" rows="10"></textarea> 
			<input type="reset" value="cancelar">
			<input type="submit" value="enviar">
		</fieldset>
	</main>
	<footer>
		<section>
			<a href="https://www.facebook.com/">
				<img class="redesSociales" src="../img/facebook.png">
			</a>
			<a href="https://www.instagram.com/">
				<img class="redesSociales" src="../img/instagram.png">
			</a>
		</section>
	</footer>
</body>
</html>