<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nosotros</title>
	<link rel="stylesheet" type="text/css" href="../css/views.css">
	<link rel="shortcut icon" href="../img/favicon.png">
</head>
<body>
	<div lass="contenedorPrincipal"> 
	<nav id="menu" class="botonera">
		<a href="../index.html">
			<img src="../img/logo.png" alt="Logo de coffee house cafeteria">
		</a>
		<ul>
			<li><a href="../index.html">Home</a></li>
			<li><a href="nosotros.html">Nosotros</a></li>
			<li><a href="promociones.html">Promociones</a></li>
			<li><a href="sucursales.html">Sucursales</a></li>
			<li><a href="contacto.html">Contacto</a></li>
		</ul>
	</nav>
	<main class="contenedor mainArea">		
		<div class="seccion1">
			<h1 class="centrado tituloPrincipal titulos">Coffee House</h1>
			<img class="imagenesMedianas" src="../img/cafeteria.jpg" src="imagen de la cafeteria principal vista desde afuera"> 
			<h2 class="subtitulos">¿Quienes somos?</h2>
			<p class="textoComun centrado">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias dolor ad molestiae ea tempore, harum assumenda omnis dolores laborum esse doloribus modi ex expedita quasi recusandae quaerat ut ab consequuntur.</p>
		</div>
		<div class="subContenedor">
			<div class="nosotros">
				<h2 class="subtitulos">Mision</h2>
				<p class="textoComun">Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Odio enim totam accusantium quae minima provident asperiores error aliquam. Molestiae quisquam eaque magni culpa, necessitatibus cum labore sit facere deleniti corrupti?</p></div>
			<div class="nosotros">
				<h2 class="subtitulos">Vision</h2>
				<p class="textoComun">Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Odio enim totam accusantium quae minima provident asperiores error aliquam. Molestiae quisquam eaque magni culpa, necessitatibus cum labore sit facere deleniti corrupti?</p>
			</div>
		</div>
		<div class="videoDemostrativo"><iframe width="560" height="315" src="https://www.youtube.com/embed/xaJYi6KeeHQ?controls=0&amp;start=3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
		
	</main>
	<footer class="footerArea">
		<section>
			<a href="https://www.facebook.com/">
				<img class="redesSociales" src="../img/facebook.png">
			</a>
			<a href="https://www.instagram.com/">
				<img class="redesSociales" src="../img/instagram.png">
			</a>
		</section>
	</footer>
	</div>
</body>
</html>