<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Promociones</title>
	<link rel="stylesheet" type="text/css" href="../css/views.css">
	<link rel="shortcut icon" href="../img/favicon.png">
</head>
<body>
	<nav id="menu">
		<a href="../index.html">
			<img src="../img/logo.png" alt="Logo de coffee house cafeteria">
		</a>
		<ul>
			<li><a href="../index.html">Home</a></li>
			<li><a href="nosotros.html">Nosotros</a></li>
			<li><a href="promociones.html">Promociones</a></li>
			<li><a href="sucursales.html">Sucursales</a></li>
			<li><a href="contacto.html">Contacto</a></li>
		</ul>
	</nav>
	<main>
		<section>
			<img class="imagenes" src="../img/promo1.jpg" alt="">
			<h2 class="subtitulos">Promo 1</h2>
			<p class="textoComun" >Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Molestiae fugit iure illo harum quo quisquam. Eligendi explicabo </p>
		</section>
		<section>
			<img class="imagenes" src="../img/promo2.jpg" alt="">
			<h2 class="subtitulos">Promo 2</h2>
			<p class="textoComun">Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Molestiae fugit iure illo harum quo quisquam. Eligendi explicabo </p>
		</section>
		<section>
			<img class="imagenes" src="../img/promo3.jpeg" alt="">
			<h2 class="subtitulos">Promo 3</h2>
			<p class="textoComun">Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Molestiae fugit iure illo harum quo quisquam. Eligendi explicabo </p>
		</section>
	</main>
	<footer>
		<section>
			<a href="https://www.facebook.com/">
				<img class="redesSociales" src="../img/facebook.png">
			</a>
			<a href="https://www.instagram.com/">
				<img class="redesSociales" src="../img/instagram.png">
			</a>
		</section>
	</footer>
</body>
</html>