<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sucursales</title>
	<link rel="stylesheet" type="text/css" href="../css/views.css">
	<link rel="shortcut icon" href="../img/favicon.png">
</head>
<body>
	<nav id="menu">
		<a href="../index.html">
			<img src="../img/logo.png" alt="Logo de coffee house cafeteria">
		</a>
		<ul>
			<li><a href="../index.html">Home</a></li>
			<li><a href="nosotros.html">Nosotros</a></li>
			<li><a href="promociones.html">Promociones</a></li>
			<li><a href="sucursales.html">Sucursales</a></li>
			<li><a href="contacto.html">Contacto</a></li>
		</ul>
	</nav>
	<main>
		<h2 class="titulos">Nuestras Sucursales</h2>
	<section>
		<img class="imagenesChicas" src="../img/sucursal1.jpg">
		<h3 class="subtitulos">Sucursal 1 </h3>
		<p class="textoComun">Calle xxx numero 11</p>
		<iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.211481449395!2d-56.16342690839619!3d-34.91462415551372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f81a1f1fecc2d%3A0x33363205d0e49ba8!2sSupermercado%20Ta%20Ta!5e0!3m2!1ses-419!2suy!4v1654658832062!5m2!1ses-419!2suy" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</section>
	<section>
		<img class="imagenesChicas" src="../img/sucursal2.jpg">
		<h3 class="subtitulos">Sucursal 2</h3>
		<p class="textoComun">Calle yyyy numero 5678</p>
		<iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.211481449395!2d-56.16342690839619!3d-34.91462415551372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f81a1f1fecc2d%3A0x33363205d0e49ba8!2sSupermercado%20Ta%20Ta!5e0!3m2!1ses-419!2suy!4v1654658832062!5m2!1ses-419!2suy" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</section>		
	</main>
	<footer>
		<section>
			<a href="https://www.facebook.com/">
				<img class="redesSociales" src="../img/facebook.png">
			</a>
			<a href="https://www.instagram.com/">
				<img class="redesSociales" src="../img/instagram.png">
			</a>
		</section>
	</footer>
</body>
</html>